{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Django School</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">  
</head>
<body>
  <div class="container" style="margin-top: 8rem">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-sm-12">
        <h1 class="display-1 logo">Django School</h1>
        <h2 class="display-4">404</h2>
        <h4 class="display-4 mb-4">Page not found ¯\_(ツ)_/¯</h4>
        <p class="lead"><a href="/" class="btn btn-primary btn-lg">Go to the home page →</a></p>
      </div>
    </div>
  </div>
</body>
</html>
