{% extends 'base.html' %}

{% block content %}
  <h2>Quizzes</h2>
  <p class="text-muted">Subjects:{% for subject in user.student.interests.all %} {{ subject.get_html_badge }}{% endfor %}</p>

  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'students:quiz_list' %}">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'students:taken_quiz_list' %}">Taken</a>
    </li>
  </ul>

  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
            <td class="align-middle">{{ quiz.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'students:take_quiz' quiz.pk %}" class="btn btn-primary">Start quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No quiz matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
